.footer-container{
    position: relative;
    height: 725px;
    width: 100%;
    background-image: url('https://firebasestorage.googleapis.com/v0/b/sky-garden-etomovich-app.appspot.com/o/footerimage.jpg?alt=media&token=b35962d9-9662-49fa-a181-43493ee76d53');
    background-size: cover;
}

.footer-header{
    width: 100%;
}

.footer-intro{
    margin-top: 74px;
    margin-bottom: -20px;
}

.footer-header-content{
    margin-left: -10px;
}

.footer-header-content img{
    height: 51px;
    width: 173px;
    margin-top: 3px;
}

.footer-intro h1, .footer-header-content h1{
    color: #FFFFFF;
	font-size: 45px;
    line-height: 22px;
    font-weight: 800;
    letter-spacing: 0.5px;
}

.footer-intro img{
    margin-left: 15px;
    margin-right: 15px;
    height: 75px;
    width: 228px;
}

.delivery-icon-image{
    height: 13px;
    width: 26px;
    margin-right: 20px;
}

.lock-icon-image{
    height: 17px;
    width: 16px;
    margin-right: 28px;
}

.reverse-icon-image{
    height: 18px;
    width: 21px;
    margin-right: 23px;
}

.facebook-icon-image{
    height: 20px;
    width: 16px;
    margin-right: 20px;
    margin-bottom: 4px;
}

.insta-icon-image{
    height: 21px;
    width: 20px;
    margin-right: 16px;
}

.linkedin-icon-image{
    height: 16px;
    width: 19px;
    margin-right: 17px;
    margin-bottom: 6px;
}

.footer-links{
    width: 80%;
    margin-top: 160px;
}

.footer-links p{
    color: #B2B5B8;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
}

.footer-links a{
    text-decoration: none;
}

.company-div h3,
.contact-div h3,
.shopping-div h3,
.follow-div h3{
    color: #FFFFFF;
    line-height: 21px;
    font-size: 18px;
    font-weight: 600;
}

.mpesa-img{
    height: 21px;
    width: 42px;
    margin-right: 19px;
}

.equitel-img{
    height: 19px;
    width: 53px;
    margin-right: 19px;
}

.visa-img{
    height: 20px;
    width: 53px;
    margin-right: 19px;
}

.mastercard-img{
    height: 22px;
    width: 37px;
}

.footer-contacts{
    width: 80%;
    margin-top: 51px;
}

.copyright-div{
    height: 14px;
    width: 110px;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: 600;
    line-height: 14px;
    margin-bottom: 30px;
}

.terms-and-conditions{
    height: 14px;
    width: 213px;
    color: #56CC86;
    font-size: 12px;
    font-weight: 600;
    line-height: 14px;
    margin-bottom: 30px;
}