<div class="footer-container" fxLayout="column" fxLayoutAlign="center center">
    <div class="footer-header" fxLayout="row" fxLayoutAlign="center center">
        <div class="footer-header-content">
            <div class="footer-intro" fxLayout="row" fxLayoutAlign="start center">
                <h1>Get</h1>
                <img src="https://firebasestorage.googleapis.com/v0/b/sky-garden-etomovich-app.appspot.com/o/skygarden_logo_pos.png?alt=media&token=06bffa2e-2d05-4c11-99fe-e3c166947941" alt="Sky Garden">
                <h1> App.</h1>
            </div>
            <h1>It's free!</h1>
            <a target="_blank" href="#">
                <img src="https://firebasestorage.googleapis.com/v0/b/sky-garden-etomovich-app.appspot.com/o/playstore.png?alt=media&token=ae6e2075-2836-418d-984c-ccfcef2760d6" alt="Playstore">
            </a>
        </div>
    </div>
    <div class="footer-links" fxLayout="row" fxLayoutAlign="space-around start">
        <div class="company-div">
            <h3>COMPANY</h3>
            <a target="_blank" href="#"><p>About Us</p></a>
            <a target="_blank" href="#"><p>Sell with Sky.Garden</p></a>
            <a target="_blank" href="#"><p>Sky.Garden Blog</p></a>
            <a target="_blank" href="#"><p>Returns& Exchange</p></a>
        </div>
        <div class="contact-div">
            <h3>CONTACT US</h3>
            <p>FAQ Center</p>
            <p>hello@sky.garden</p>
            <div class="place-div">
                <p>5th Floor, Senteu Plaza</p> 
                <p>Nairobi Kenya</p>
            </div>
        </div>
        <div class="shopping-div">
            <h3> SHOPPING WITH US IS EASY</h3>
            <div fxLayout="row" fxLayoutAlign="start center">
                <img  class="delivery-icon-image" src="https://firebasestorage.googleapis.com/v0/b/sky-garden-etomovich-app.appspot.com/o/carimage.png?alt=media&token=290ac66d-6488-4f35-8795-eada1de2e91b">
                <p>Same day delivery</p>
            </div>
            <div fxLayout="row" fxLayoutAlign="start center">
                <img class="lock-icon-image" src="https://firebasestorage.googleapis.com/v0/b/sky-garden-etomovich-app.appspot.com/o/lockimage.png?alt=media&token=c64763d1-6781-4174-8209-12ffbd742652">
                <p>Sucure payment online or on delivery</p>
            </div>
            <div fxLayout="row" fxLayoutAlign="start center">
                <img class="reverse-icon-image" src="https://firebasestorage.googleapis.com/v0/b/sky-garden-etomovich-app.appspot.com/o/reverse.png?alt=media&token=e4163c3a-e9a7-4742-bc91-6a8145204a70">
                <p>Free returns</p>
            </div>
        </div>
        <div class="follow-div">
            <h3> FOLLOW OUR NEWS</h3>
            <a target="_blank" href="https://www.facebook.com/www.sky.garden/">
                <div fxLayout="row" fxLayoutAlign="start center">
                    <img class="facebook-icon-image" src="https://firebasestorage.googleapis.com/v0/b/sky-garden-etomovich-app.appspot.com/o/facebookimage.jpg?alt=media&token=c64d7bed-9c23-43ae-8325-b14eec47d6a1">
                    <p>Facebook</p>
                </div>
            </a>
            <a target="_blank" href="https://www.instagram.com/wwwskygarden/">
                <div fxLayout="row" fxLayoutAlign="start center">
                    <img class="insta-icon-image" src="https://firebasestorage.googleapis.com/v0/b/sky-garden-etomovich-app.appspot.com/o/instagramimage.png?alt=media&token=092012fa-19de-406b-badb-19d1025c9a57">
                    <p>Instagram</p>
                </div>
            </a>
            <a target="_blank" href="https://www.linkedin.com/company/sky.garden/">
                <div fxLayout="row" fxLayoutAlign="start center">
                    <img class="linkedin-icon-image" src="https://firebasestorage.googleapis.com/v0/b/sky-garden-etomovich-app.appspot.com/o/linkedInImage.png?alt=media&token=feee862c-6812-404a-b4a5-20d8ce0558a3">
                    <p>LinkedIn</p>
                </div>
            </a>
        </div>
    </div>
    <div class="footer-contacts" fxLayout="row" fxLayoutAlign="space-between center">
        <div class="copyright-div">
            <p>© Sky.Garden, 2019</p>
        </div>
        <div class="payment-modes">
            <img class="mpesa-img" src="https://firebasestorage.googleapis.com/v0/b/sky-garden-etomovich-app.appspot.com/o/Mpesa.png?alt=media&token=b03351bb-c9bc-4c1f-abb0-9d872a76eaa4" alt="MPESA Image">
            <img class="equitel-img" src="https://firebasestorage.googleapis.com/v0/b/sky-garden-etomovich-app.appspot.com/o/Equitel.png?alt=media&token=78c1c613-b4f2-4602-b5bb-fc79964b45b0" alt="Equitel Image">
            <img class="visa-img" src="https://firebasestorage.googleapis.com/v0/b/sky-garden-etomovich-app.appspot.com/o/Visa.png?alt=media&token=15029bc5-3625-434d-a7a4-d22b59579d8f" alt="Visa Image">
            <img class="mastercard-img" src="https://firebasestorage.googleapis.com/v0/b/sky-garden-etomovich-app.appspot.com/o/Mastercard.png?alt=media&token=1ec633a7-511b-42f0-98c5-c1c9cb1955bb" alt="MasterCard Image">
        </div>
        <div class="terms-and-conditions">
            <p>Privacy Policy I Terms and Conditions</p>
        </div>
    </div>
</div>
