<div class="footer-container" fxLayout="column" fxLayoutAlign="center center">
    <div class="footer-header" fxLayout="row" fxLayoutAlign="center center">
        <div class="footer-header-content">
            <div class="footer-intro" fxLayout="row" fxLayoutAlign="start center">
                <h1>Get</h1>
                <img src="assets/skygarden_logo_pos.png" alt="Sky Garden">
                <h1> App.</h1>
            </div>
            <h1>It's free!</h1>
            <a target="_blank" href="#">
                <img src="assets/playstore.png" alt="Playstore">
            </a>
        </div>
    </div>
    <div class="footer-links" fxLayout="row" fxLayoutAlign="space-around start">
        <div class="company-div">
            <h3>COMPANY</h3>
            <a target="_blank" href="#"><p>About Us</p></a>
            <a target="_blank" href="#"><p>Sell with Sky.Garden</p></a>
            <a target="_blank" href="#"><p>Sky.Garden Blog</p></a>
            <a target="_blank" href="#"><p>Returns& Exchange</p></a>
        </div>
        <div class="contact-div">
            <h3>CONTACT US</h3>
            <p>FAQ Center</p>
            <p>hello@sky.garden</p>
            <div class="place-div">
                <p>5th Floor, Senteu Plaza</p> 
                <p>Nairobi Kenya</p>
            </div>
        </div>
        <div class="shopping-div">
            <h3> SHOPPING WITH US IS EASY</h3>
            <div fxLayout="row" fxLayoutAlign="start center">
                <img  class="delivery-icon-image" src="assets/carimage.png">
                <p>Same day delivery</p>
            </div>
            <div fxLayout="row" fxLayoutAlign="start center">
                <img class="lock-icon-image" src="assets/lockimage.png">
                <p>Sucure payment online or on delivery</p>
            </div>
            <div fxLayout="row" fxLayoutAlign="start center">
                <img class="reverse-icon-image" src="assets/reverse.png">
                <p>Free returns</p>
            </div>
        </div>
        <div class="follow-div">
            <h3> FOLLOW OUR NEWS</h3>
            <a target="_blank" href="https://www.facebook.com/www.sky.garden/">
                <div fxLayout="row" fxLayoutAlign="start center">
                    <img class="facebook-icon-image" src="assets/facebookimage.jpg">
                    <p>Facebook</p>
                </div>
            </a>
            <a target="_blank" href="https://www.instagram.com/wwwskygarden/">
                <div fxLayout="row" fxLayoutAlign="start center">
                    <img class="insta-icon-image" src="assets/instagramimage.png">
                    <p>Instagram</p>
                </div>
            </a>
            <a target="_blank" href="https://www.linkedin.com/company/sky.garden/">
                <div fxLayout="row" fxLayoutAlign="start center">
                    <img class="linkedin-icon-image" src="assets/linkedInImage.png">
                    <p>LinkedIn</p>
                </div>
            </a>
        </div>
    </div>
    <div class="footer-contacts" fxLayout="row" fxLayoutAlign="space-between center">
        <div class="copyright-div">
            <p>© Sky.Garden, 2019</p>
        </div>
        <div class="payment-modes">
            <img class="mpesa-img" src="assets/Mpesa.png" alt="MPESA Image">
            <img class="equitel-img" src="assets/Equitel.png" alt="Equitel Image">
            <img class="visa-img" src="assets/Visa.png" alt="Visa Image">
            <img class="mastercard-img" src="assets/Mastercard.png" alt="MasterCard Image">
        </div>
        <div class="terms-and-conditions">
            <p>Privacy Policy I Terms and Conditions</p>
        </div>
    </div>
</div>
