<div class="commodity-container" fxLayout="column" fxLayoutAlign="space-evenly center">
    <div class="percent-container">
        <img src="https://firebasestorage.googleapis.com/v0/b/sky-garden-etomovich-app.appspot.com/o/pricetag.png?alt=media&token=38d57bb5-1a60-413f-9416-df66254f87d5">
        <div class="drop-percent">{{percentDrop}}%</div>
    </div>
    <div class="commodity-image" fxLayout="column" fxLayoutAlign="center center">
        <img src="{{commodityImage}}"  alt="Product Image">
    </div>
    <div class="commodity-info">
        <div class="commodity-label">
            <p class="commodity-name">{{commodityTitle}}</p>
            <p class="commodity-category">{{commodityVendor}}</p>
        </div>
        <div class="commodity-price" fxLayout="row" fxLayoutAlign="space-evenly stretch">
            <p class="new-price">{{currentPrice}} {{stockRecordPriceCurrency}}</p>
            <p class="old-price">{{previousPrice}} {{stockRecordPriceCurrency}}</p>
        </div>
    </div>
</div>
