<div class="banner-container"  fxLayout="row">
    <div class="banner-label-div" fxFlex="50">
        <p class="banner-title">{{bannerTitle}}</p>
        <p class="banner-info">{{bannerInfo}}</p>
        <p class = "banner-timer">Deal expires in {{bannerTimer}}</p>
    </div>
    <div class="banner-img-div" fxFlex="50">
        <img class="shopping-lady" src="assets/shoppinglady.png" alt="Shopping Lady">
        <div class="discount-circle">
            <img class="discount-circle-img" src="assets/discountcircle.png">    
            <div class="discount-circle-label" fxLayout="row" fxLayoutAlign="center center">
                <h1 class="percent">-&nbsp;10</h1>
                <h1 class="percent-symbol">%</h1>
            </div>
            <img class="discount-line" src="assets/discountline.png">
        </div>
        <div class="black-bubble">
            <img class="black-bubble-img" src="assets/blackbubble.png">    
            <div class="black-bubble-label">delivery same day!</div>
        </div>      
    </div>
</div>
