<div class="banner-container"  fxLayout="row">
    <div class="banner-label-div" fxFlex="50">
        <p class="banner-title">{{bannerTitle}}</p>
        <p class="banner-info">{{bannerInfo}}</p>
        <p class = "banner-timer">Deal expires in {{bannerTimer}}</p>
    </div>
    <div class="banner-img-div" fxFlex="50">
        <img class="shopping-lady" 
        src="https://firebasestorage.googleapis.com/v0/b/sky-garden-etomovich-app.appspot.com/o/shoppinglady.png?alt=media&token=ddb6678a-ad56-45da-a688-736ac4844829"
        alt="Shopping Lady">
        <div class="discount-circle">
            <img class="discount-circle-img" src="https://firebasestorage.googleapis.com/v0/b/sky-garden-etomovich-app.appspot.com/o/discountcircle.png?alt=media&token=c684454a-7977-4e23-92f8-bb573169672e">    
            <div class="discount-circle-label" fxLayout="row" fxLayoutAlign="center center">
                <h1 class="percent">-&nbsp;10</h1>
                <h1 class="percent-symbol">%</h1>
            </div>
            <img class="discount-line" src="https://firebasestorage.googleapis.com/v0/b/sky-garden-etomovich-app.appspot.com/o/discountline.png?alt=media&token=5f89cb48-4b8c-4fdd-908c-b28eba9fcaae">
        </div>
        <div class="black-bubble">
            <img class="black-bubble-img" src="https://firebasestorage.googleapis.com/v0/b/sky-garden-etomovich-app.appspot.com/o/blackbubble.png?alt=media&token=1eafecbc-b594-44ce-b9ae-b328cc6554df">    
            <div class="black-bubble-label">delivery same day!</div>
        </div>      
    </div>
</div>
