.main-container{
    background-color: #F4F4F4;
    width: 100%;
    text-align: center;
}
.comodities-container{
    width: 80%;
    display: grid;
    grid-template-columns: 285px 285px 285px 285px;
    grid-row-gap: 30px;
    margin-left: 125px;
    margin-top: 40px;
}
.load-more{
	height: 60px;
	width: 281px;
    background-color: #55D187;
    border-radius: 5px;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    text-transform: uppercase;
    margin-top: 50px;
}

.announcements{
    margin-top: 50px;
    margin-bottom: 83px;
}

.live-chart{
    position: relative;
    height: 427px;
    width: 583px;
    background-color: #FFFFFF;
    margin-right: 30px;
}

.live-chart img{
    position: absolute;
    right: 0;
    top: 0;
    z-index: 50;
}

.live-content-body{
    position: absolute;
    left: 67px;
    top: 44px;
    z-index: 100;
}

.live-content-body p{
    margin-top: 0;
    color: #121212;
    font-size: 16px;
    font-weight: bold;
    line-height: 19px;
}

.time-available p{
    margin-top: 0;
    margin-bottom: 0;
}

.the-button{
    position: relative;
    height: 56px;
    width: 220px;
    margin-top: 30px;
    text-transform: capitalize;
}

.the-button img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
}

.button-label{
    position: absolute;
    width: 100%;
    top: 20px;
    z-index: 100;
    font-size: 16px;
    font-weight: 800;
    line-height: 19px;
}

.button-label2{
    position: absolute;
    width: 100%;
    bottom: -10px;
    z-index: 100;
    font-size: 16px;
    font-weight: 800;
    line-height: 19px;
}

.button-name{
    color: #01A8A0 !important;
}

.button-arrow{
    color: #55D187 !important;
    font-size: 25px !important;
    margin-bottom: 19px;
    font-weight: 500 !important;
}

.button-arrow2{
    color: #55D187 !important;
    font-size: 25px !important;
    margin-bottom: 30px;
    font-weight: 500 !important;
}

.customer-care-title h1{
    color: #121212;
    font-size: 49px;
    font-weight: 800;
    line-height: 57px;
    margin: 0;
}

.register-shop{
    position: relative;
    height: 427px;
    width: 583px;
    background-image: url('/assets/phonelady.png');
    background-size: contain;
}

.register-shop-details{
    position: absolute;
    max-width: 50%;
    left: 67px;
    top: 44px;
    z-index: 100;
}

.register-shop-message{
    color: #121212;
    font-size: 16px;
    font-weight: bold;
    line-height: 25px;
    width: 221px;
    margin-top: 70px;
    margin-bottom: 25px;
}

.register-shop-message p{
    margin-top: 0;
    margin-bottom: 0;
}
